.owo {max-width: 1440px;}
.card {margin-top: 30px;width: 100%;border-radius: 15px;}
.card img {width: 100%;max-height: 350px; object-fit: cover;border-radius: 13px 13px 0 0;}
.center {position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);}
.signin-box {max-width: 400px;}
.signin-button {margin-top: 45px; width: 100%; max-height: 50px;}
.pswd-label {padding-top: 10px;}
.dataTables_wrapper {width: 100%;}
#dist-long-desc {width: 100%;}
#dist-scripts {font-family: Monaco, Menlo, monospace;width: 100%;font-size: 14px;min-height: 150px;}
.edit-group label {margin-top: 10px;}
#big-title:hover {cursor:pointer;}
pre code {margin-top: 10px;}
.pre-wrapper { position:relative;}
.pre-wrapper pre { padding-top: 25px;}
.pre-wrapper .copy-snippet {
    border-radius: 3px;
    min-width:55px;
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #bbb;
    color: #26589F;
    font-family: 'HELEVETICA',sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42rem;
    margin: 0;
    padding: 0px 5px;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    position:absolute;
    background:#ccc;
    top:0;
    left:0;
}
.pre-wrapper .copy-snippet:disabled{
    color:#555;
}
